@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,900&display=swap&subset=cyrillic-ext");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #483f39;
  font-size: 16px;
  font-weight: 400;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0 auto;
}

.form__title {
  font-size: 40px;
  line-height: 122.5%;
  color: #fff;
  margin-bottom: 35px;
}

.form__line:nth-child(1),
.form__line:nth-child(2),
.form__line:nth-child(3),
.form__line:nth-child(4) {
  margin-bottom: 14px;
}

.form__line_btn {
  margin-top: 25px;
  margin-bottom: 22px;
}

.form__error {
  color: red;
  padding: 5px 0px;
}

.agreement__text {
  font-size: 16px;
  line-height: 125%;
  color: #fff;
}

.agreement__text a {
  color: inherit;
  text-decoration: underline;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 45px;
  background-color: #483f39;
  font-size: 20px;
  color: #fff;
  line-height: 120%;
  height: 49px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #483f39;
  background-color: #fff;
  cursor: pointer;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  line-height: 49px;
  padding-left: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
}

.select__value span {
  line-height: 49px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 49px;
  height: 49px;
  background: url("../img/icons/select.svg") center center/50% no-repeat;
  z-index: 5;
}

.select__value::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 49px;
  height: 49px;
  background-color: #483f39;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #483f39;
  display: none;
  position: absolute;
  top: 49px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  font-size: 20px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 12px;
  line-height: 1.2;
  margin: 0px 0px 0px 0px;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  height: 49px;
  display: block;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 20px;
  color: #483f39;
}

textarea.input {
  resize: none;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 49px;
  line-height: 1.2;
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 89px;
  padding-top: 17px;
  padding-right: 15px;
  padding-left: 38px;
  padding-bottom: 17px;
  -moz-text-align-last: left;
       text-align-last: left;
}

.field_high {
  height: 125px;
}

.field_bio {
  background-color: #187c6a;
}

.field_oil {
  background-color: #a3242d;
}

.field__image {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin: 0px 23px 0px 0px;
  pointer-events: none;
}

.field__image_high {
  width: 100px;
  height: 100px;
}

.field__text {
  padding: 5px 0px 0px 0px;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #fff;
  pointer-events: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.field__text_high {
  font-size: 25px;
  line-height: 120%;
}

.arrow {
  width: 50px;
  height: 50px;
  border: 2px solid #483f39;
}

.arrow svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  fill: #483f39;
}

.arrow.swiper-button-disabled {
  border: 2px solid #fff;
}

.arrow.swiper-button-disabled svg {
  fill: #fff;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid #483f39;
}

.pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 22px;
}

.pagination .swiper-pagination-bullet-active {
  background-color: #483f39;
}

.title {
  font-size: 40px;
  line-height: 122.5%;
  color: #a3242d;
}

.icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12px;
          flex: 0 0 12px;
  width: 12px;
  height: 12px;
  margin: 3px 15px 0px 0px;
}

.icon svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  fill: #483f39;
}

.icon_white svg {
  fill: #fff;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.icon-menu {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
}

.header__up-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 108px;
}

.header__logo {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 220px;
          flex: 0 0 220px;
  height: 48px;
  margin: 0px 30px 0px 0px;
  z-index: 5;
}

.header__logo img {
  pointer-events: none;
}

.header__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__down {
  background-color: #a3242d;
}

.header__down-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 102px;
}

.header__search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}

.phone,
.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #483f39;
  font-size: 20px;
  padding: 5px 0px 5px 0px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.phone svg,
.email svg {
  display: block;
  width: 25px;
  height: 25px;
  fill: #483f39;
  margin: 0px 11px 0px 0px;
}

.phone {
  margin: 0px 34px 0px 0px;
}

.menu__item._active::before {
  opacity: 1;
  visibility: visible;
}

.menu__link {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  border-bottom: 1px solid transparent;
}

.menu__link_btn {
  background-color: transparent;
}

.menu__sub {
  min-width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__sub._active {
  opacity: 1;
  visibility: visible;
}

.menu__sub-space {
  height: 20px;
}

.menu__sub-item {
  position: relative;
}

.menu__sub-sub-space {
  width: 100%;
}

.menu__sub-sub-list_bio {
  background-color: #187c6a;
}

.menu__sub-sub-list_oil,
.menu__sub-sub-list_clients {
  background-color: #a3242d;
}

.menu__sub-sub-item {
  padding: 21px 0px;
  position: relative;
}

.menu__sub-sub-item:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  bottom: 0;
  width: 95%;
  height: 1px;
  background-color: #fff;
}

.menu__sub-sub-link {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  line-height: 120%;
  padding: 0px 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.search-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.2);
}

.search-form__btn svg {
  display: block;
  width: 20px;
  height: 20px;
  fill: #fff;
}

.search-form__input {
  font-size: 16px;
  width: 100%;
  height: 32px;
  padding: 0px 20px 0px 17px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.footer {
  background-color: #187c6a;
  padding-top: 60px;
  padding-bottom: 90px;
}

.footer__logo {
  display: inline-block;
  width: 200px;
  height: 43px;
  margin-bottom: 95px;
}

.footer__logo img {
  pointer-events: none;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 60px 0px;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 5px 0px 38px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__column:nth-child(1) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-right: 1px solid #fff;
  padding: 5px 14px 30px 0px;
}

.footer__column:nth-child(2) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #fff;
  padding: 5px 14px 30px 20px;
}

.footer__column:nth-child(3) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 5px 0px 30px 20px;
}

.footer__inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 20px;
}

.footer__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 52px;
          flex: 0 0 52px;
  font-weight: 900;
  font-size: 22px;
  line-height: 122.7272727273%;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}

.footer__address {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 0px 20px 0px;
}

.footer__phones {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 0px 20px 0px;
}

.footer__mail {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__rights {
  text-transform: uppercase;
  color: #ffffff;
}

.popup {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  visibility: visible;
  overflow: auto;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 40px;
  padding-left: 98px;
  width: 100%;
  max-width: 599px;
  background-color: #187c6a;
}

.popup__body_white {
  background-color: #fff;
}

.popup__close {
  width: 33px;
  height: 33px;
  position: absolute;
  top: 22px;
  right: 18px;
  cursor: pointer;
  z-index: 30;
  background-color: transparent;
}

.popup__close svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  fill: #fff;
}

.popup__close_gray svg {
  fill: #483f39;
}

.popup__text-ok {
  font-size: 20px;
  line-height: 135%;
  color: #fff;
}

.popup__text-ok p {
  margin: 0px 0px 15px 0px;
}

.popup__barrier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.barrier {
  text-transform: uppercase;
  color: #483f39;
}

.barrier__title {
  font-size: 30px;
  line-height: 140%;
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.barrier__subtitle {
  font-size: 20px;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.barrier__image {
  width: 200px;
  height: 157px;
}

.ok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.ok__image {
  width: 100px;
  height: 87px;
}

.ok__text {
  text-transform: uppercase;
  color: #483f39;
  font-size: 20px;
  font-size: 20px;
  line-height: 140%;
}

.ok__text p {
  margin: 0px 0px 15px 0px;
}

.page {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__question {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  right: 0;
  top: 50%;
  width: 200px;
  height: 43px;
  background: #483f39;
  -webkit-transform: rotate(-90deg) translate(0, 78px);
      -ms-transform: rotate(-90deg) translate(0, 78px);
          transform: rotate(-90deg) translate(0, 78px);
  z-index: 15;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.intro {
  position: relative;
  margin-bottom: 53px;
  margin-top: 158px;
}

.food__up {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.food__image {
  width: 100%;
  height: 601px;
}

.food__arrow-prev {
  position: absolute;
  left: 85px;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.food__arrow-next {
  position: absolute;
  right: 85px;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.food__pagination {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  bottom: 45px;
}

.food__info {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  background-color: transparent;
}

.down {
  position: relative;
}

.down__bg-green {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #187c6a;
  z-index: -1;
}

.down__bg-red {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #a3242d;
  z-index: -1;
}

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__title {
  max-width: 600px;
  font-weight: 900;
  font-size: 45px;
  line-height: 122.2222222222%;
}

.info_btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 25px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 16px;
  color: #483f39;
  line-height: 125%;
  height: 43px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid #483f39;
  margin: 50px 0px 0px 0px;
  transition: all 0.3s ease 0s;
}

.oil {
  display: none;
}

.oil__up {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.oil__image {
  width: 100%;
  height: 601px;
}

.oil__arrow-prev {
  position: absolute;
  left: 85px;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.oil__arrow-next {
  position: absolute;
  right: 85px;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.oil__pagination {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  bottom: 45px;
}

.oil__info {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  background-color: transparent;
}

.news {
  padding: 24px 0px 0px 0px;
  margin: 0px 0px 13px 0px;
}

.news__title {
  margin-bottom: 34px;
}

.news__article {
  height: 100%;
}

.news__pagination {
  height: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 384px;
  min-height: 264px;
  padding: 28px 10px 28px 35px;
  background: #f9f9f9;
}

.article-news__date {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17px;
          flex: 0 0 17px;
  font-size: 14px;
  color: #a3242d;
  margin: 0px 0px 15px 0px;
  text-transform: uppercase;
}

.article-news__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 700;
  font-size: 17px;
  line-height: 122.2222222222%;
  color: #483f39;
  margin: 0px 0px 10px 0px;
}

.article-news__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  font-size: 14px;
  line-height: 112.5%;
  color: #483f39;
  margin: 0px 0px 15px 0px;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.article-news__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17px;
          flex: 0 0 17px;
  font-size: 14px;
  color: #a3242d;
}

.numbers {
  overflow-x: auto;
  background: #f9f9f9;
  padding-top: 60px;
  padding-bottom: 60px;
}

.numbers__title {
  margin-bottom: 34px;
}

.numbers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.numbers__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}

.numbers__column:not(:last-child) {
  margin: 0px 50px 0px 0px;
}

.numbers__article {
  height: 100%;
}

.article-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 25px;
  padding-bottom: 25px;
}

.article-num__icon {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 80px;
      flex-basis: 80px;
  width: 80px;
  height: 80px;
  margin-bottom: 36px;
}

.article-num__icon svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  fill: #a3242d;
}

.article-num__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55px;
          flex: 0 0 55px;
  font-weight: 900;
  font-size: 25px;
  line-height: 96%;
  color: #a3242d;
  margin-bottom: 14px;
}

.article-num__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 16px;
  line-height: 118.75%;
  color: #483f39;
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about__title {
  margin-bottom: 34px;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about__column:nth-child(1),
.about__column:nth-child(2) {
  margin: 0px 0px 65px 0px;
}

.about__image {
  width: 100%;
  padding: 0px 0px 58.33% 0px;
}

.about__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 122.2222222222%;
  color: #483f39;
}

.about__text p:not(:last-child) {
  margin-bottom: 20px;
}

.about__text_first {
  padding: 0px 0px 0px 59px;
}

.about__text_second {
  padding: 0px 46px 0px 0px;
}

.contacts {
  background: #f9f9f9;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts__title {
  margin-bottom: 34px;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__map {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  height: 505px;
  overflow: hidden;
}

.contacts__points {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 100px;
}

.points {
  font-size: 18px;
  line-height: 22px;
  color: #483f39;
}

.points__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 0px 20px 0px;
}

.points__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 0px 20px 0px;
}

.points__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 0px 20px 0px;
}

.points__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 0px 20px 0px;
}

.points__hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.address__short-text {
  display: none;
}

.phones__num {
  display: block;
  color: inherit;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mail__link {
  display: block;
  color: inherit;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.service__link {
  display: block;
  color: inherit;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page__go-up {
  display: inline-block;
  position: fixed;
  z-index: 15;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  right: 0;
  bottom: 100px;
  width: 73px;
  height: 76px;
}

.page__go-up svg {
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  fill: #483f39;
}

@media (min-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item {
    position: relative;
    margin: 0px 8px 0px 0px;
    padding: 5px 0px;
  }

  .menu__item_arrow::before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    top: 100%;
    width: 0;
    height: 0;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-top: 24px solid #a3242d;
    opacity: 1;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__sub {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    min-width: 749px;
    left: 0;
    top: 100%;
    -webkit-transform: translate(calc(-50% + 58px), 0px);
        -ms-transform: translate(calc(-50% + 58px), 0px);
            transform: translate(calc(-50% + 58px), 0px);
  }

  .menu__sub_short {
    min-width: 374px;
    -webkit-transform: translate(calc(-50% + 43px), 0px);
        -ms-transform: translate(calc(-50% + 43px), 0px);
            transform: translate(calc(-50% + 43px), 0px);
  }

  .menu__sub-space {
    height: 30px;
    width: 100%;
  }

  .menu__sub-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__sub-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .menu__sub-sub-block {
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__sub-sub-block._active {
    opacity: 1;
    visibility: visible;
  }

  .menu__sub-sub-space {
    height: 17px;
  }

  .menu__sub-sub-list {
    padding: 5px 15px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 5;
  }

  .menu__scroll {
    overflow-y: auto;
    max-height: 260px;
    overflow: auto;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
  }

  .menu__scroll::-webkit-scrollbar {
    width: 5px;
  }

  .menu__scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .menu__scroll::-webkit-scrollbar-thumb {
    background: #888;
  }

  .menu__scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .down__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .down__field {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media (max-width: 1450px) {
  .food__arrow-prev {
    left: 25px;
  }

  .food__arrow-next {
    right: 25px;
  }

  .info__title {
    margin: 0px 0px 0px 90px;
  }

  .info_btn {
    margin: 50px 0px 0px 90px;
  }

  .oil__arrow-prev {
    left: 25px;
  }

  .oil__arrow-next {
    right: 25px;
  }
}

@media (max-width: 1230px) {
  .form__title {
    font-size: calc(30px + 10 * ((100vw - 320px) / 910));
  }

  .form__title {
    margin-bottom: calc(29px + 6 * ((100vw - 320px) / 910));
  }

  .form__line_btn {
    margin-top: calc(17px + 8 * ((100vw - 320px) / 910));
  }

  .form__line_btn {
    margin-bottom: calc(17px + 5 * ((100vw - 320px) / 910));
  }

  .select__value {
    font-size: calc(18px + 2 * ((100vw - 320px) / 910));
  }

  .select__value {
    padding-left: calc(12px + 20 * ((100vw - 320px) / 910));
  }

  .select__options {
    font-size: calc(18px + 2 * ((100vw - 320px) / 910));
  }

  .select__option {
    padding-left: calc(12px + 20 * ((100vw - 320px) / 910));
  }

  .input {
    padding-left: calc(12px + 20 * ((100vw - 320px) / 910));
  }

  .input {
    padding-right: calc(12px + 20 * ((100vw - 320px) / 910));
  }

  .input {
    font-size: calc(18px + 2 * ((100vw - 320px) / 910));
  }

  textarea.input {
    padding-left: calc(12px + 20 * ((100vw - 320px) / 910));
  }

  textarea.input {
    padding-right: calc(12px + 20 * ((100vw - 320px) / 910));
  }

  .field {
    padding-top: calc(15px + 2 * ((100vw - 320px) / 910));
  }

  .field {
    padding-right: calc(10px + 5 * ((100vw - 320px) / 910));
  }

  .field {
    padding-left: calc(10px + 28 * ((100vw - 320px) / 910));
  }

  .field {
    padding-bottom: calc(15px + 2 * ((100vw - 320px) / 910));
  }

  .field_high {
    height: calc(102px + 23 * ((100vw - 320px) / 910));
  }

  .field__image_high {
    width: calc(80px + 20 * ((100vw - 320px) / 910));
  }

  .field__image_high {
    height: calc(80px + 20 * ((100vw - 320px) / 910));
  }

  .field__text_high {
    font-size: calc(18px + 7 * ((100vw - 320px) / 910));
  }

  .arrow {
    width: calc(20px + 30 * ((100vw - 320px) / 910));
  }

  .arrow {
    height: calc(20px + 30 * ((100vw - 320px) / 910));
  }

  .pagination .swiper-pagination-bullet {
    width: calc(6px + 6 * ((100vw - 320px) / 910));
  }

  .pagination .swiper-pagination-bullet {
    height: calc(6px + 6 * ((100vw - 320px) / 910));
  }

  .pagination .swiper-pagination-bullet:not(:last-child) {
    margin-right: calc(11px + 11 * ((100vw - 320px) / 910));
  }

  .title {
    font-size: calc(30px + 10 * ((100vw - 320px) / 910));
  }

  .header__menu {
    margin-right: calc(0px + 102 * ((100vw - 320px) / 910));
  }

  .footer {
    padding-top: calc(20px + 40 * ((100vw - 320px) / 910));
  }

  .footer {
    padding-bottom: calc(40px + 50 * ((100vw - 320px) / 910));
  }

  .footer__logo {
    margin-bottom: calc(40px + 55 * ((100vw - 320px) / 910));
  }

  .popup__body {
    padding-top: calc(40px + 10 * ((100vw - 320px) / 910));
  }

  .popup__body {
    padding-right: calc(20px + 80 * ((100vw - 320px) / 910));
  }

  .popup__body {
    padding-bottom: calc(34px + 6 * ((100vw - 320px) / 910));
  }

  .popup__body {
    padding-left: calc(20px + 78 * ((100vw - 320px) / 910));
  }

  .popup__body {
    max-width: calc(290px + 309 * ((100vw - 320px) / 910));
  }

  .popup__close {
    width: calc(24px + 9 * ((100vw - 320px) / 910));
  }

  .popup__close {
    height: calc(24px + 9 * ((100vw - 320px) / 910));
  }

  .popup__close {
    top: calc(14px + 8 * ((100vw - 320px) / 910));
  }

  .popup__close {
    right: calc(5px + 13 * ((100vw - 320px) / 910));
  }

  .barrier__title {
    font-size: calc(24px + 6 * ((100vw - 320px) / 910));
  }

  .barrier__subtitle {
    font-size: calc(16px + 4 * ((100vw - 320px) / 910));
  }

  .ok__text {
    font-size: calc(16px + 4 * ((100vw - 320px) / 910));
  }

  .intro {
    margin-bottom: calc(0px + 53 * ((100vw - 320px) / 910));
  }

  .food__up {
    padding-top: calc(8px + 7 * ((100vw - 320px) / 910));
  }

  .food__up {
    padding-bottom: calc(8px + 7 * ((100vw - 320px) / 910));
  }

  .food__image {
    height: calc(239px + 362 * ((100vw - 320px) / 910));
  }

  .food__pagination {
    bottom: calc(10px + 35 * ((100vw - 320px) / 910));
  }

  .info__title {
    max-width: calc(231px + 369 * ((100vw - 320px) / 910));
  }

  .info__title {
    font-size: calc(24px + 21 * ((100vw - 320px) / 910));
  }

  .oil__up {
    padding-top: calc(8px + 7 * ((100vw - 320px) / 910));
  }

  .oil__up {
    padding-bottom: calc(8px + 7 * ((100vw - 320px) / 910));
  }

  .oil__image {
    height: calc(239px + 362 * ((100vw - 320px) / 910));
  }

  .oil__pagination {
    bottom: calc(10px + 35 * ((100vw - 320px) / 910));
  }

  .news__title {
    margin-bottom: calc(20px + 14 * ((100vw - 320px) / 910));
  }

  .numbers {
    padding-top: calc(20px + 40 * ((100vw - 320px) / 910));
  }

  .numbers {
    padding-bottom: calc(20px + 40 * ((100vw - 320px) / 910));
  }

  .numbers__title {
    margin-bottom: calc(20px + 14 * ((100vw - 320px) / 910));
  }

  .article-num {
    padding-top: calc(12px + 13 * ((100vw - 320px) / 910));
  }

  .article-num {
    padding-bottom: calc(12px + 13 * ((100vw - 320px) / 910));
  }

  .article-num__icon {
    -ms-flex-preferred-size: calc(50px + 30 * ((100vw - 320px) / 910));
        flex-basis: calc(50px + 30 * ((100vw - 320px) / 910));
  }

  .article-num__icon {
    width: calc(50px + 30 * ((100vw - 320px) / 910));
  }

  .article-num__icon {
    height: calc(50px + 30 * ((100vw - 320px) / 910));
  }

  .article-num__icon {
    margin-bottom: calc(24px + 12 * ((100vw - 320px) / 910));
  }

  .article-num__title {
    margin-bottom: calc(8px + 6 * ((100vw - 320px) / 910));
  }

  .about {
    padding-top: calc(20px + 40 * ((100vw - 320px) / 910));
  }

  .about {
    padding-bottom: calc(20px + 40 * ((100vw - 320px) / 910));
  }

  .about__title {
    margin-bottom: calc(20px + 14 * ((100vw - 320px) / 910));
  }

  .about__text {
    font-size: calc(16px + 2 * ((100vw - 320px) / 910));
  }

  .about__text p:not(:last-child) {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 910));
  }

  .contacts {
    padding-top: calc(20px + 40 * ((100vw - 320px) / 910));
  }

  .contacts {
    padding-bottom: calc(48px + 12 * ((100vw - 320px) / 910));
  }

  .contacts__title {
    margin-bottom: calc(20px + 14 * ((100vw - 320px) / 910));
  }

  .contacts__map {
    height: calc(220px + 285 * ((100vw - 320px) / 910));
  }

  .contacts__points {
    padding-left: calc(0px + 100 * ((100vw - 320px) / 910));
  }

  .page__go-up {
    width: calc(30px + 43 * ((100vw - 320px) / 910));
  }

  .page__go-up {
    height: calc(31px + 45 * ((100vw - 320px) / 910));
  }
}

@media (max-width: 1170px) {
  .about__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .about__column:nth-child(1),
  .about__column:nth-child(2),
  .about__column:nth-child(4) {
    margin: 0px 0px 28px 0px;
  }

  .about__column_one {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .about__column_two {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .about__column_three {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .about__column_four {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .about__text_first {
    padding: 0px 0px 0px 0px;
  }

  .about__text_second {
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 991.98px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 183px;
            flex: 0 0 183px;
    height: 40px;
  }

  .header__search {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 164px;
            flex: 0 0 164px;
  }

  .footer__logo {
    width: 185px;
    height: 40px;
  }

  .footer__title {
    font-size: 20px;
  }

  .contacts__points {
    padding-left: 34px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .address__long-text {
    display: none;
  }

  .address__short-text {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .field_oil {
    background-color: #bc3b44;
  }

  .icon-menu {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47px;
            flex: 0 0 47px;
    width: 47px;
    height: 40px;
    cursor: pointer;
    z-index: 5;
    background-color: transparent;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 4px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: #483f39;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 4px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 4px);
  }

  .header {
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  }

  .header__up-content {
    min-height: 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__info {
    display: none;
  }

  .header__down {
    display: none;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    background-color: #a3242d;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 84px 65px 30px 65px;
    text-align: center;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #fff;
    z-index: 2;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    left: 0;
  }

  .menu__item {
    padding: 21px 0;
    position: relative;
  }

  .menu__item::after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    bottom: 0;
    width: 80%;
    height: 1px;
    background-color: #fff;
  }

  .menu__sub-sub-list_oil,
  .menu__sub-sub-list_clients {
    background-color: #be4c54;
  }

  .menu__sub-sub-list_bio {
    background-color: #2fa08c;
  }

  .menu__sub-sub-item:not(:last-child)::after {
    width: 80%;
  }

  .search-form__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
    height: 50px;
  }

  .search-form__input {
    height: 50px;
  }

  .search-form {
    margin: 20px 0px 0px 0px;
  }

  .footer__row {
    display: none;
  }

  .intro {
    margin-top: 70px;
  }

  .down__bg-green {
    display: none;
  }

  .down__bg-red {
    display: none;
  }

  .down__field {
    margin: 0px -15px;
  }

  .info_btn {
    display: none;
  }

  .article-news {
    max-width: 345px;
  }

  .contacts__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contacts__map {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 0px 40px 0px;
  }

  .contacts__points {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-left: 0px;
  }
}

@media (max-width: 479.98px) {
  .btn {
    width: 100%;
  }

  .menu__body {
    padding: 84px 0px 30px 0px;
  }

  .page__question {
    width: 157px;
    height: 30px;
    font-size: 14px;
    -webkit-transform: rotate(-90deg) translate(0, 65px);
        -ms-transform: rotate(-90deg) translate(0, 65px);
            transform: rotate(-90deg) translate(0, 65px);
  }

  .food__arrow-prev {
    left: 13px;
  }

  .food__arrow-next {
    right: 13px;
  }

  .info__title {
    margin: 0px 0px 0px 40px;
  }

  .oil__arrow-prev {
    left: 13px;
  }

  .oil__arrow-next {
    right: 13px;
  }

  .article-news {
    max-width: 288px;
  }
}

@media (min-width: 767.98px) and (max-width: 1230px) {
  .menu__sub {
    min-width: calc(300px + 449 * ((100vw - 320px) / 910));
  }

  .menu__sub_short {
    min-width: calc(200px + 174 * ((100vw - 320px) / 910));
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: #2fa08c;
  }

  .select__option:hover {
    background: #d9d9d9;
  }

  .field:hover .field__text {
    text-decoration: underline;
  }

  .phone:hover,
  .email:hover {
    color: #187c6a;
    border-bottom: 1px solid #187c6a;
  }

  .phone:hover svg,
  .email:hover svg {
    fill: #187c6a;
  }

  .menu__item:hover .menu__link {
    border-bottom: 1px solid #fff;
  }

  .menu__sub-sub-link:hover {
    text-decoration: underline;
  }

  .info_btn:hover {
    background-color: #187c6a;
    color: #fff;
  }

  .phones__num:hover {
    color: #187c6a;
    text-decoration: underline;
  }

  .phones__num_white:hover {
    color: #fff;
  }

  .mail__link:hover {
    color: #187c6a;
    text-decoration: underline;
  }

  .mail__link_white:hover {
    color: #fff;
  }

  .service__link:hover {
    color: #187c6a;
    text-decoration: underline;
  }
}